@import "../../../sass/index.scss";

.feedback {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto;
  max-width: min-content;

  &_header {
    background-color: $primaryColor;
    padding-top: 24px;
    padding-bottom: 32px;
    width: 420px;
    text-align: center;
    color: $baseColor100;
    border-radius: 100px;

    @include respond("tablet") {
      width: 600px;
    }
  }

  &_form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    transform: translateY(-48px);

    &_comment {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-top: 32px;

      & h3 {
        text-align: center;
      }

      & textarea {
        height: 100px;

        &[class*="invalid"] {
          border-color: $errorColor;
        }
      }

      & p {
        color: $errorColor;
        font-size: 12px;
        font-style: italic;
      }
    }
  }
}

.form {
  &_comment {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;

    & h3 {
      text-align: center;
    }
  }

  &_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & p {
      font-size: 12px;
      font-style: italic;
      opacity: 0.5;
    }
  }
}

.success {
  padding: 16px;
  background-color: rgba($successColor, 0.2);
  color: $successColor;
}
